/* basestyles */

body{
	font-family: comic-sans;
	color: black;
	text-align: left;
	margin: 10px;
}

* {
	box-sizing: border-box;
	margin: 0;
    padding: 0;
}

h1 {
	color: black;
	text-align: center;
	font-size: 190%;
	margin-bottom: 30px;
	margin-top: 30px;
}

h2 {
	color: black;
	text-align: center;
	font-size: 110%;
}

h3 {
	color: white;
	text-align: center;
	font-size: 110%;
}


.container {
  position: relative;
  background-color: grey;
  padding:30px 10px 10px 10px;
  border: 2px solid black;
  margin: 5px 5px 5px 5px;
  float: left;
}


#container1 {
	width: 30%;
}

#container2 {
	width: 30%;
}

#container3 {
	width: 30%;
}



.topright1 {
  position: absolute;
  top: 0px;
  right: 0px;
  border: 2px solid black;
  margin:-2px;
  width: 30%;
  background-color:pink;
}

.topright2 {
  position: absolute;
  top: 0px;
  right: 0px;
  border: 2px solid black;
  margin:-2px;
  width: 30%;
  background-color:red;
}

.topright3 {
  position: absolute;
  top: 0px;
  right: 0px;
  border: 2px solid black;
  margin:-2px;
  width: 30%;
  background-color:yellow;
}





/* Desktop version 992px and above 
*/

@media (min-width: 992px) {
	
	.container {
		width: 30%;
		float: left;
	}

	.topright1 { 
		width: 30%;
	 }	

	 .topright2 { 
		width: 30%;
	 }	

	 .topright3 { 
		width: 30%;
	 }	
	
}

/*Tablet version between 768px and 991px inclusively
*/

@media (min-width: 768px) and (max-width: 991px) {
  	#container1 {
	width: 45%;
	float: left;
	}

	#container2 {
	width: 45%;
	float: left;
	}

	#container3 {
	width: 90%;
	clear:both;
	}
  

}

/*Mobile version equal or less than 767px
*/

@media (max-width: 767px) {
	
	#container1 {
	width: 100%;
	clear:both;
	}

	#container2 {
	width: 100%;
	clear:both;
	}

	#container3 {
	width: 100%;
	clear:both;
	}
